
$main: #ff6e01;
$orange-soft: #ff9748;
$bg: #f1e1d2;
$black: #000;
$white: #fff;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
$blue-soft: #AED6F1;
$nice-green:#00cc66;

/*Colores página cómo adoptar */
$yellow: #fad000;

/* guia mascotera */
$blue-rope: #126b8f;

